.Button {
  font-size: 1rem;
  border-radius: 25px;
  border: none;
  padding: 4px 10px;
  min-width: 70px;
}

.Button:hover {
  cursor: pointer;
}

.Button:hover:active {
  background-color: #ee450a !important;
}

.Button:active {
  background-color: #ee450a !important;
}

/* .Button:focus {
    background-color: #ee450a;
  } */

.Wide {
  padding: 12px 50px;
  width: 100%;
}

.Middle {
  display: block;
  padding: 12px 50px;
  width: 30%;
  margin: auto;
  border-radius: 8px;
}

.Blue {
  background-color: #3e85f3;
  color: white;
}
.Blue:hover {
  background-color: #2b78ef;
  box-shadow: 4px 2px 16px 0px rgba(136, 165, 191, 0.48);
}
.Orange,
.OrangeOutline:hover,
.Bright:hover {
  background-color: #ee450a;
  color: #ffffff;
}

.OrangeOutline,
.Orange:hover {
  background-color: #ffffff;
  color: #2142b2;
}

.Black,
.BlackOutline:hover {
  background-color: #242a3d;
  color: aliceblue;
}

.Black:hover,
.BlackOutline {
  background-color: aliceblue;
  color: #242a3d;
}

.Bright {
  background-color: #fa4a0c;
  color: #fff;
}

.Bright:focus {
  background-color: #ee450a;
}


.CustomBtn{
  padding: 7px 12px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
   background-color: transparent;
   border: none;
   outline: 1px solid black;
   border-radius: 4px;
   margin-bottom: 10px;
   transition: color ease-in-out 0.3s, outline ease-in-out 0.3s;

 }

 .CustomBtn:hover{
   color: #3E85F3;
   outline: 1px solid #3E85F3;
 }