.Box {
    padding: 15px;
display: flex;
flex-direction: row;
gap: 40px;
align-items: center;

}
@media screen and (max-width:780px) {
    .Box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    
    }
}

.Title {
    color: #FA4A0C;
    text-align: center;
  }
.Text {
  color: black;
}

.Subtitle{
    color: #3e85f3;
    text-align: center;
}

.Btn{
  max-width: 180px;
  padding: 10px 15px;
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 20px;
}