.ImageWrapper{
    max-height: 80vh;
    max-width: 80vh;
    margin: 0 auto;
}


  .NavLink{
   font-size: 0.8rem; 
   padding: 10px 15px;
   margin-left: 10px;
   min-width: 75px;
   background-color: #FA4A0C;
   color: #fff;
   border-radius: 25px;
   transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, outline 0.3s ease-in-out;
  }

  .NavLink:hover,
  .NavLink:focus{
    color:  #FA4A0C;
    background-color:  #fff;
    outline: 1px solid #FA4A0C;
    cursor: pointer;
   }

   

  