.Card{
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    border-radius: 8px;
    transition: transform ease-in-out 0.3s;
}
.Card:hover{
    transform: scale(1.03);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
}

.Title{
    margin-bottom: 0;
    margin-left: 0.6rem;
}

.Text{
    color: black;
    margin-right: 5px;
}
.TextUpdate{
    color: grey;
    font-size: 0.8rem;
}