.Row {
    height: calc(100vh - 50px);
  }

  .Input {
    display: block;
    background: #ffffff;
    border: 1px solid #d7d8e1;
    border-radius: 25px;
    color: #0f1119;;
    text-align: center;
  }
  
  .Header {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FA4A0C;
  }
  
  .Link {
    text-decoration: none;
    text-align: center;
    display: block;
    margin: auto;
  }
  
  .Link span {
    color: #ff9254;
    font-size: 0.9rem;
  }
  
  .Alert{
    color: red;
    font-size: 1.0rem;
    width: 100%;
    text-align: center;
  }
  
 
  