.BtnWrapper {
  display: none;

  @media screen and (min-width: 780px) {
    display: flex;
    gap: 30px;
    justify-content: center;
  }
}

.SearchBar input {
  display: block;
  border-radius: 20px;
  color: #242a3d;
  padding-left: 50px;
  margin-top: 20px;
}

.SearchBar input::placeholder {
  color: #84878f;
  @media screen and (max-width: 575px){
 color: white;
  }
}

.IconWrapper {
  position: relative;
  margin: 0 auto;
  max-width: 70%;
}

.IconSearch {
  position: absolute;
  top: 8px;
  left: 15px;
  font-size: 1.5rem;
}

.IconClose {
  position: absolute;
  top: 7px;
  right: 20px;
  font-size: 1.3rem;
  cursor: pointer;
  color: #242a3d;
  transition: color ease-in-out 0.3s;
}

.IconClose:hover {
  color: #3e85f3;
}
