/* .SearchBar{
  position: relative;
  margin-top: 20px;
  margin: 0 auto;
  max-width: 70%;
} */

.SearchBar input{
  display: block;
  border-radius: 20px;
  color: #242a3d;
  padding-left: 50px;
  margin-top: 20px;
  
}
.SearchBar input::placeholder{
  color: #84878f;
}

.IconWrapper{
  position: relative;
  margin: 0 auto;
  max-width: 70%;
}

.Icon{
  position: absolute;
  top: 8px;
  left: 15px;
  font-size: 1.5rem;
}