* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #F4F4F4;
  min-height: 100vh;
}
.App {
  font-family: "Poppins", sans-serif;
  background-color: #F4F4F4;
  min-height: 100vh;
}

.Main{
  padding: 20px 0;
}

a{
  color: #252B42;
  transition: color ease-in-out 0.3s;
}

a:hover {
color: #0f1119;
text-decoration: none;
}


a:hover i {
  color:  #FA4A0C;
  transition: color ease-in-out 0.3s;
}

i {
  color:  #cfced3; 
  font-size: 1.4rem;
  padding: 7px;
  vertical-align: middle;
  transition: color ease-in-out 0.3s;
}

i:hover {
  cursor: pointer;
  color: #FA4A0C;
}


.Image {
  object-fit: contain;
  width: 100%;
  height: 100%;
}